{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Works log</h1>
        </div>
    </div>
    {% if current_user.is_authenticated %}
    <div class="row mb-3">
        <div class="col text-center">
            <a class="btn btn-success" href="/addjob" role="button">Add Job</a>
        </div>
    </div>
    {% endif %}
    {% for job in jobs %}
    <div class="row">
        <div class="col-auto">
            <h1>Action #{{job.id}}</h1>
        </div>
        {% if current_user.is_authenticated and (job.team_leader == current_user.id or current_user.id == 1) %}
        <div class="col-auto">
            <a class="btn btn-warning" href="./editjob/{{job.id}}" role="button">Edit</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-danger" href="./deletejob/{{job.id}}" role="button">Delete</a>
        </div>
        {% endif %}
    </div>
    <div class="row overflow-auto">
        <div class="col">
            <table class="table">
                <tr class="table-success text-center align-middle">
                    <th class="text-start">Title of activity</th>
                    <th>Team leader</th>
                    <th>Duration</th>
                    <th>List of collaborators</th>
                    <th>Hazard category</th>
                    <th>Is finished</th>
                </tr>
                <tr class="table-info text-center align-middle">
                    <td class="text-start">{{job.job}}</td>
                    <td>{{job.leader.name}} {{job.leader.surname}}</td>
                    <td>{{job.work_size}} hours</td>
                    <td>{{job.collaborators}}</td>
                    <td>
                        {% for category in job.categories %}
                        {{ category.id }}
                        {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    {% if job.is_finished %}
                    <td class="table-success">Is finished</td>
                    {% else %}
                    <td class="table-danger">Is not finished</td>
                    {% endif %}
                </tr>
                <colgroup class="border-0">
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 6%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 14%;">
                    <col span="1" style="width: 10%;">
                </colgroup>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}